<section class="hidden z-[20]" id="how-to-dialog">
    <img alt="How to play the game" src="assets/images/how-to-play-the-game.png" />
    <div class="mt-4 overflow-auto">
        <div class="grid desktop:grid-cols-5 mobile:grid-cols-1 gap-2 max-h-[500px]">
            <div class="how-to-item">
                <img alt="How to play the game" src="assets/images/how-to-item.png" />
                <div class="mt-2">
                    <h2>Step 1</h2>
                    <p>
                        Each NFT, depending on its rarity, will have a different number of stars from 1 star ⭐ to 5
                        stars ⭐
                        corresponding to 1 to 5 Clicks.
                    </p>
                </div>
            </div>
            <div class="how-to-item">
                <img alt="How to play the game" src="assets/images/how-to-item.png" />
                <div class="mt-2">
                    <h2>Step 2</h2>
                    <p>
                        On the game interface, there are 50 boxes corresponding to 50 types of NFTs randomly represented
                        in the total 200 NFTs
                    </p>
                </div>
            </div>
            <div class="how-to-item">
                <img alt="How to play the game" src="assets/images/how-to-item.png" />
                <div class="mt-2">
                    <h2>Step 3</h2>
                    <p>
                        My User Deposit NFTs are minted and ready to play.
                    </p>
                </div>
            </div>
            <div class="how-to-item">
                <img alt="How to play the game" src="assets/images/how-to-item.png" />
                <div class="mt-2">
                    <h2>Step 4</h2>
                    <p>
                        The user selects 1 of any 50 boxes on the game interface until it matches the exact type of NFTs
                        he owns or matches the number of stars (the NFT just deposited) will win.
                    </p>
                </div>
            </div>
            <div class="how-to-item">
                <img alt="How to play the game" src="assets/images/how-to-item.png" />
                <div class="mt-2">
                    <h2>Step 5</h2>
                    <p>
                        In case the user has not used up the corresponding number of turns on the NFT but has won one of
                        the two conditions, the player can still continue to click on the boxes to win the next time
                        until the number of clicks runs out.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>