<section class="hidden z-[20] rounded-xl relative" id="message-dialog">
    <h2 class="font-bold text-2xl mb-4" id="message-dialog-title"></h2>
    <p id="message-dialog-message"></p>
    <div class="absolute top-2 right-5 font-bold text-xl cursor-pointer" id="message-dialog-close-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
    </div>
</section>