<section class="hidden flex-col gap-2 justify-center items-center z-[20]" id="ranking-dialog">
    <img alt="Ranking" src="assets/images/ranking.png" />
    <div class="grid w-full desktop:grid-cols-2 mobile:grid-cols-1 gap-2">
        <section class="table-wrapper px-4 py-2">
            <h6 class="text-center mb-2">Ranking Winner</h6>
            <div class="w-full overflow-y-auto max-h-[350px]">
                <table class="w-full">
                    <tr>
                        <td class="flex justify-center"><img src="assets/images/top-1.png" /></td>
                        <td>00x00000</td>
                        <td class="text-primary font-bold">2000</td>
                        <td class="text-primary font-bold">PLS</td>
                    </tr>
                    <tr>
                        <td class="flex justify-center"><img src="assets/images/top-2.png" /></td>
                        <td>00x00000</td>
                        <td class="text-primary font-bold">2000</td>
                        <td class="text-primary font-bold">PLS</td>
                    </tr>
                    <tr>
                        <td class="flex justify-center"><img src="assets/images/top-3.png" /></td>
                        <td>00x00000</td>
                        <td class="text-primary font-bold">2000</td>
                        <td class="text-primary font-bold">PLS</td>
                    </tr>
                    <tr>
                        <td class="flex justify-center">4</td>
                        <td>00x00000</td>
                        <td class="text-primary font-bold">2000</td>
                        <td class="text-primary font-bold">PLS</td>
                    </tr>
                    <tr>
                        <td class="flex justify-center">5</td>
                        <td>00x00000</td>
                        <td class="text-primary font-bold">2000</td>
                        <td class="text-primary font-bold">PLS</td>
                    </tr>
                    <tr>
                        <td class="flex justify-center">6</td>
                        <td>00x00000</td>
                        <td class="text-primary font-bold">2000</td>
                        <td class="text-primary font-bold">PLS</td>
                    </tr>
                </table>
            </div>
        </section>
        <section class="table-wrapper px-4 py-2">
            <h6 class="text-center mb-2">Ranking Mint NFT</h6>
            <div class="w-full overflow-y-auto max-h-[350px]">
                <table class="w-full">
                    <tr>
                        <td class="flex justify-center"><img src="assets/images/top-1.png" /></td>
                        <td>00x00000</td>
                        <td class="text-primary font-bold">2000</td>
                        <td class="text-primary font-bold">PLS</td>
                    </tr>
                    <tr>
                        <td class="flex justify-center"><img src="assets/images/top-2.png" /></td>
                        <td>00x00000</td>
                        <td class="text-primary font-bold">2000</td>
                        <td class="text-primary font-bold">PLS</td>
                    </tr>
                    <tr>
                        <td class="flex justify-center"><img src="assets/images/top-3.png" /></td>
                        <td>00x00000</td>
                        <td class="text-primary font-bold">2000</td>
                        <td class="text-primary font-bold">PLS</td>
                    </tr>
                    <tr>
                        <td class="flex justify-center">4</td>
                        <td>00x00000</td>
                        <td class="text-primary font-bold">2000</td>
                        <td class="text-primary font-bold">PLS</td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</section>