<section class="hidden absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white font-bold px-2 py-4 z-[20]" id="withdraw-dialog">
    <h6 class="mb-3 text-center">WithDraw</h6>
    <div>
        <div class="flex input-pls">
            <input placeholder="0.0" type="number" />
            <span class="max">MAX</span>
            <span class="pls">PLS</span>
        </div>
        <div class="mt-4 flex justify-between">
            <span class="withdraw-percentage-item">
                65%
            </span>
            <span class="withdraw-percentage-item">
                80%
            </span>
            <span class="withdraw-percentage-item active">
                100%
            </span>
            <span class="withdraw-percentage-item active">
                Withdraw
            </span>
        </div>
    </div>
    <hr class="my-3"/>
    <table class="font-normal w-full text-sm">
        <tr>
            <th>Amount</th>
            <th class="text-center">Time</th>
            <th></th>
        </tr>
        <tr>
            <td>3,000 PLS</td>
            <td class="text-center">14:00 2/1/2024</td>
            <td><button class="btn-claim">Claim</button></td>
        </tr>
    </table>
</section>