<section class="mt-4 grid grid-cols-10 gap-2 min-w-[800px]">
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
    <div class="card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card-back.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
</section>