<div class="absolute top-0 left-0 w-full h-screen z-[-1]">
    <img class="absolute right-0 top-0" src="./assets/images/decor/blur-1.png"/>
    <img class="absolute left-0 top-0" src="./assets/images/decor/blur-2.png"/>
    <img class="fixed left-0 top-[25%]" src="./assets/images/decor/circle.png"/>
    <img class="fixed right-0 bottom-0" src="./assets/images/decor/big-pink-circle.png"/>
    <img class="fixed left-0 bottom-0" src="./assets/images/decor/pink-circle.png"/>
</div>