<section class="flex desktop:gap-4 mobile:gap-2 desktop:items-end mobile:items-center mt-4 mobile:flex-col-reverse desktop:flex-row">
    <div class="flex gap-4 mobile:flex-col desktop:flex-row">
        <div class="game-info-item">
            <label>Balances</label>
            <div class="frame">
                <span class="flex gap-2">3,000 PLS <img src="assets/images/wallet.png" alt="wallet" /></span>
            </div>
        </div>
        <div class="game-info-item">
            <label>Reward Winner</label>
            <div class="frame">
                <span>500 PLS</span>
            </div>
        </div>
        <div class="game-info-item">
            <label>Number of click</label>
            <div class="frame">
                <span>20</span>
            </div>
        </div>
        <div class="game-info-item">
            <label>Number of users</label>
            <div class="frame">
                <span>20</span>
            </div>
        </div>
        <div class="game-info-item">
            <label>Pool Reward</label>
            <div class="frame">
                <span>3,000 PLS</span>
            </div>
        </div>
    </div>
    <div class="flex gap-4 pb-2">
        <img src="assets/images/trophy.png" alt="trophy" class="cursor-pointer"/>
        <img src="assets/images/how-to-play.png" alt="how-to-play" class="cursor-pointer"/>
    </div>
</section>