<div class="hidden items-center justify-center w-56 h-56 fixed top-0 left-0 w-full h-full z-[100] bg-[rgb(0,0,0,.5)]"
    id="notification-dialog">
    <div class="notification-dialog">
        <img id="notification-dialog-close-button" src="assets/images/close.png" alt="Close button" class="absolute top-2 right-5"/>
        <img id="notification-dialog-player-card" src="assets/images/player-card/player-1/big.png" alt="Player Card"/>
        <div class="font-bold text-[32px] text-white text-center">
            <h5 id="notification-dialog-title">Congratulations</h5>
            <h6 id="notification-dialog-total" class="mt-2">39,000 PLS</h6>
        </div>
    </div>
</div>