<section class="bg-primary-gradient flex px-4 py-2 w-full overflow-auto rounded-xl">
    <div class="user-info-item">
        <img src="assets/images/top-1.png" alt="top-1"/>
        <span>00x000</span>
        <span class="text-primary">2000</span>
        <span class="text-primary">PLS</span>
    </div>
    <div class="user-info-item">
        <img src="assets/images/top-2.png" alt="top-2"/>
        <span>00x000</span>
        <span class="text-primary">2000</span>
        <span class="text-primary">PLS</span>
    </div>
    <div class="user-info-item">
        <img src="assets/images/top-3.png" alt="top-3"/>
        <span>00x000</span>
        <span class="text-primary">2000</span>
        <span class="text-primary">PLS</span>
    </div>
    <div class="user-info-item">
        <span>4</span>
        <span>00x000</span>
        <span class="text-primary">2000</span>
        <span class="text-primary">PLS</span>
    </div>
    <div class="user-info-item">
        <span>5</span>
        <span>00x000</span>
        <span class="text-primary">2000</span>
        <span class="text-primary">PLS</span>
    </div>
    <div class="user-info-item">
        <span>6</span>
        <span>00x000</span>
        <span class="text-primary">2000</span>
        <span class="text-primary">PLS</span>
    </div>
</section>